.pause-button {
  width: 30%;
  cursor: pointer;
  color: white;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #20232A;
  border: 1px solid #4E5159;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
